.jinpin {
  .jingpin_info {
    width: 76%;
    position: absolute;
    background: rgba(16, 16, 16, 0.45);
    border-radius: 17px;
    top: 52px;
    .info {
      margin-top: 12px;
      top: 57px;
      h3 {
        color: #fff;
        margin-bottom: 0;
      }
    }
    p.block {
      padding: 5px;
      border: 1px solid #e6932d;
      border-radius: 18px;
      color: #e6932d;
    }
  }
  .jingpin_bg_img {
    width: 145px;
    margin: 12px;
    border-radius: 13px;
  }
  .jingpin_bg {
    filter: blur(21px);
    img {
      width: 100%;
      height: 142px;
    }
  }
}
.nav {
  .icon {
    margin-left: -126px;
    position: relative;
    img {
      width: 20px;
      position: absolute;
      top: 1px;
    }
  }
}
.music_list_all {
  .waper {
    margin: 23px 45px;
  }
  span {
    width: 100px;
    padding: 5px;
    text-align: center;
    color: #504c4c;
    border-radius: 18px;
    border: 1px solid #bdbdbd;
  }
  li {
    line-height: 35px;
    margin-left: 35px;
  }
}
